:root {
    --accent: rgba(251, 46, 134, 1);
    --bg-shade: rgba(238, 239, 251, 1);
    --caption-font-family: "Josefin Sans", Helvetica;
    --caption-font-size: 14px;
    --caption-font-style: normal;
    --caption-font-weight: 400;
    --caption-letter-spacing: 0px;
    --caption-line-height: normal;
    --caption-title-font-family: "Josefin Sans", Helvetica;
    --caption-title-font-size: 42px;
    --caption-title-font-style: normal;
    --caption-title-font-weight: 700;
    --caption-title-letter-spacing: 0px;
    --caption-title-line-height: normal;
    --grey-text: rgba(21, 24, 117, 0.1);
    --list-titles-font-family: "Josefin Sans", Helvetica;
    --list-titles-font-size: 22px;
    --list-titles-font-style: normal;
    --list-titles-font-weight: 600;
    --list-titles-letter-spacing: 0px;
    --list-titles-line-height: normal;
    --paragraph-text-font-family: "Lato", Helvetica;
    --paragraph-text-font-size: 16px;
    --paragraph-text-font-style: normal;
    --paragraph-text-font-weight: 400;
    --paragraph-text-letter-spacing: 0px;
    --paragraph-text-line-height: normal;
    --pink: rgba(251, 46, 134, 1);
    --price-cut-font-family: "Josefin Sans", Helvetica;
    --price-cut-font-size: 12px;
    --price-cut-font-style: normal;
    --price-cut-font-weight: 400;
    --price-cut-letter-spacing: 0px;
    --price-cut-line-height: normal;
    --price-tag-color: rgba(251, 36, 72, 1);
    --sale-tage-coloe: rgba(63, 80, 158, 1);
    --section-hover: rgba(47, 26, 196, 1);
    --shadow: 0px 8px 40px 0px rgba(49, 32, 138, 0.05);
    --sub-text-color: rgba(138, 143, 185, 1);
    --text: rgba(21, 24, 117, 1);
    --ugsadug: rgba(159, 99, 181, 1);
    --violet: rgba(126, 51, 224, 1);
    --white: rgba(255, 255, 255, 1);
  }